{% extends "try_run.js.jinja" %}

{% block code_to_run %}
  const docs_json = {{ docs_json }};
  const render_items = {{ render_items }};
  const element_ids = render_items.map((item) => item.elementid).filter((id) => id != null);
  void root.Bokeh.embed.embed_items(docs_json, render_items{%- if app_path -%}, "{{ app_path }}" {%- endif -%}{%- if absolute_url -%}, "{{ absolute_url }}" {%- endif -%}).then((views) => {
    root.dispatchEvent(new CustomEvent("bokeh:embed-complete", {detail: {element_ids, views}}));
  }).catch((error) => {
    root.dispatchEvent(new CustomEvent("bokeh:embed-error", {detail: {element_ids, error}}));
    console.error("Error rendering Bokeh items:", error);
  });
{% endblock %}
